<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet">
    <div class="container" id="loginPage">
        <h2>Sign Up</h2>
        <form id="loginForm" action="/sign_up" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign Up">
        </form>
        <p align="center">
            <a href="/index" class="button">Log In</a>
        </p> 
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
</body>

</html>